* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  background-color: var(--font-light);
}
:root {
  --black: #1c181d;
  --light-black: #322f33;
  --grey: #616161;
  --light-grey: #656266;

  --font-light: #e3e3e3;
  --font-mid: #616161;
  --font-dark: #475467;

  --stroke-s50: #ebebeb;
  --stroke-s200: #000000/7%;
  --stroke-s100: #ffffff/20%;

  --state-hover: #f7f7f7;
  --state-pressed: #f0f0f0;
  --statefocused: #005bd3;

  --plain-white: #ffffff;
  --plain-background: #f1f1f1;

  --dark-green: #006400;
  --forest-green: #228b22;
  --lime-green: #00ff00;
  --olive-green: #808000;
  --sea-green: #2e8b57;
  --light-green: #00ee00;
}

header {
  display: block;
  min-width: 100%;
  background: var(--black);
}

nav.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--font-light);
  padding: 5px 0px;
}

.navbar .nav-logo img {
  width: 80px;
}

.white-icon {
  filter: invert(1) grayscale(100%);
}
.grey-icon {
  filter: grayscale(100%) brightness(70%);
}

.lightgrey-icon {
  filter: grayscale(100%) brightness(90%);
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  width: 70%;
}

.nav-search input {
  width: 100%;
  padding: 3px;
  border: 0.5px solid var(--light-grey);
  border-radius: 10px;
  padding-left: 30px;
  background: var(--light-black);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.nav-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-account .nav-notification {
  justify-content: center;
  align-items: center;
  background: var(--light-black);
  border-radius: 5px;
  scale: 1.15;
  margin-right: auto;
}

.nav-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2px;
  background: var(--light-black);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  min-width: 85px;
}

.nav-profile .profile-name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: inherit;
}

.nav-profile .profile-abv {
  padding: 5px;
  background: var(--lime-green);
  border-radius: 3px;
  color: var(--light-black);
}

section {
  justify-content: center;
  min-width: 88vw;
  border-radius: 6px;
  margin: 2% 4%;
}

.top {
  display: block;
  position: relative;
  /* margin: auto; */
  align-items: center;
  color: var(--font-light);
  background: var(--black);
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  /* font-weight: 500; */
}

.top-btn {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 4px;
  border-radius: 6px;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 10px;
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  background: var(--plain-background);
  padding: 15px;
  position: relative;
}

.main-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.progress-bar {
  width: 20%;
  height: 5px;
  background: var(--font-light);
  margin-top: 5px;
  position: relative;
  border-radius: 5px;
}

.progress-filled {
  height: 100%;
  width: 20%;
  border-radius: 5px;
  background: var(--black);
  transition: width 0.3s ease;
}

.cancel-btn {
  position: absolute;
  top: 20px;
  right: 3%;
}

.cancel-btn img {
  scale: 1.2;
  position: absolute;
  top: 10px;
  right: 3%;
}

.cancel-btn img.up-arrow {
  display: none;
}

.cancel-btn.active img.down-arrow {
  display: none;
  transition: ease-in 1s ease;
}

.cancel-btn.active img.up-arrow {
  display: flex;
}

.setup-process {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  transition: 1s ease-in-out;
  align-items: center;
  justify-content: center;
}

.setup-step {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  height: auto;
  margin-bottom: 10px;
  background: var(--stroke-s50);
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
  border-radius: 10px;
}
.set-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
  margin-left: 50px;
}

.set-text h3 {
  font-weight: 400;
}
.set-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20%;
  cursor: pointer;
  background: url(https://crushingit.tech/hackathon-assets/icon-dashed-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease, filter 1.2s ease;
}

.set-icon.completed {
  background-image: url("https://crushingit.tech/hackathon-assets/icon-checkmark-circle.svg");
}

.dotted-circle {
  width: 30px;
}

.set-text .set-btn {
  display: block;
  position: relative;
  width: fit-content;
  height: auto;
  border: 2px solid var(--light-grey);
  border-radius: 6px;
  padding: 10px 22px;
  color: var(--font-light);
  font-weight: 700;
  background: var(--light-black);
}

.set-btn-2 {
  font-weight: 600;
}

.set-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.set-text p,
.set-text .set-btn,
.set-text .set-btn-2,
.set-image {
  display: none;
}

.set-text.active p,
.set-text.active .set-btn,
.set-text.active .set-btn-2,
.set-image.active {
  display: block;
}

.pulse-animation {
  animation: pulse 1s; /* Adjust the duration to match the setTimeout duration in JavaScript */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

section.menus {
  display: block;
  position: relative;
}

hr {
  width: 100%;
  height: 1px;
  background: var(--light-grey);
  /* border: 1px solid var(--grey); */
}

.acc-menu.active,
.not-menu.active {
  display: flex;
}

.acc-menu,
.not-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 5px 0px;
  top: -5px;
  z-index: 999;
  gap: 5px;
  right: 10px;
  align-items: left;
  border: 1px solid var(--grey);
  border-radius: 7px;
  background: var(--plain-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  /* height: 60%; */
}

.acc-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--stroke-s50);
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
}

.acc-user img {
  width: 20px;
  height: 20px;
}

.acc-user .nav-profile {
  background: transparent;
  font-weight: 700;
}

.acc-store {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  align-items: center;
  height: 40px;
  /* background: #00ee00; */
}

.acc-store img {
  height: 60%;
}

.acc-store span {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
}

.acc-btn {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 2px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--state-hover);
  font-size: 15px;
}

.acc-btn:hover {
  background: var(--state-hover);
}
.acc-btn .acc-btn-email {
  font-weight: 400;
}

.not-menu {
  right: 50px;
  padding: 10px;
}

.top-not-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  /* background: #005bd3; */
  align-items: center;
  margin-bottom: 10px;
  padding: 3px;
}

.top-not-menu span {
  font-weight: 600;
  font-size: 15px;
}

.down-not-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--stroke-s50);
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
}

.hyper {
  color: blue;
  text-decoration: solid;
}

.nav-logo .logo-bag {
  display: none;
}
/* responsive */
/* Styles for desktop computers with a minimum width of 768 pixels */
@media screen and (min-width: 768px) {
  /* Your desktop styles go here */
}

/* Styles for Android devices */
@media screen and (max-width: 767px) {
  .nav-logo .logo-bag {
    display: block;
    height: 30px;
    margin-left: -11px;
  }
  .nav-logo .logo-name,
  .nav-profile .profile-name,
  .setup-step .set-image {
    display: none;
  }
  header .nav-profile .profile-abv {
    height: 30px;
    width: 30px;
    right: 5px;
    position: absolute;
    /* padding: 10px; */
    font-weight: 500;
    font-size: 16px;
  }
  header .nav-profile {
    background: transparent;
    width: 30px;
    justify-content: center;
    align-items: center;
    right: 5px;
    margin: 0;
    place-items: right;
  }
  .acc-user .nav-profile {
    font-size: 16px;
  }
  .acc-user .nav-profile .profile-name {
    display: block;
  }
  
  .nav-account .nav-notification{
    position: absolute;
    margin-right: 30px;
  }
  
  .nav-search input{
    height: 30px;
  }


  .acc-menu,
  .not-menu {
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
  .setup-step {
    justify-content: space-between !important;
  }
  .set-text {
    width: 100%;
    align-items: right;
    /* background: #00ee00; */
  }
}
